# The path to the SQLite database files.
DATABASE_LOCATION="/src/data/database"

# Google OAauth2 secrets
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

# Google Oauth2 scopes
GOOGLE_OAUTH_SCOPE="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"

# The Google Oauth2 host domain. Only accounts from this domain are allowed to login.
GOOGLE_OAUTH_HD="murraystate.edu"