@tailwind base;
@tailwind components;
@tailwind utilities;

/* material symbols class */
span.symbol {
  font-family: var(--font-family-symbols);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

/* load material tokens into the root */
:root {
  /* light */
  --md-sys-color-primary-palette-key-color-light: #0179ff;
  --md-sys-color-secondary-palette-key-color-light: #727598;
  --md-sys-color-tertiary-palette-key-color-light: #7b70a3;
  --md-sys-color-neutral-palette-key-color-light: #737782;
  --md-sys-color-neutral-variant-palette-key-color-light: #727785;
  --md-sys-color-background-light: #f9f9ff;
  --md-sys-color-on-background-light: #181c25;
  --md-sys-color-surface-light: #f9f9ff;
  --md-sys-color-surface-dim-light: #d7d9e6;
  --md-sys-color-surface-bright-light: #f9f9ff;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-container-low-light: #f1f3ff;
  --md-sys-color-surface-container-light: #ebedfa;
  --md-sys-color-surface-container-high-light: #e5e8f5;
  --md-sys-color-surface-container-highest-light: #dfe2ef;
  --md-sys-color-on-surface-light: #181c25;
  --md-sys-color-surface-variant-light: #dee2f2;
  --md-sys-color-on-surface-variant-light: #424753;
  --md-sys-color-inverse-surface-light: #2c303a;
  --md-sys-color-inverse-on-surface-light: #eef0fd;
  --md-sys-color-outline-light: #636876;
  --md-sys-color-outline-variant-light: #8d92a0;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-tint-light: #005ac2;
  --md-sys-color-primary-light: #0049a0;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #4f8fff;
  --md-sys-color-on-primary-container-light: #000000;
  --md-sys-color-inverse-primary-light: #adc6ff;
  --md-sys-color-secondary-light: #474a6b;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #8d8fb4;
  --md-sys-color-on-secondary-container-light: #000000;
  --md-sys-color-tertiary-light: #504576;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #968bc0;
  --md-sys-color-on-tertiary-container-light: #000000;
  --md-sys-color-error-light: #9e000b;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ff574c;
  --md-sys-color-on-error-container-light: #000000;
  --md-sys-color-primary-fixed-light: #0070ec;
  --md-sys-color-primary-fixed-dim-light: #0058bd;
  --md-sys-color-on-primary-fixed-light: #ffffff;
  --md-sys-color-on-primary-fixed-variant-light: #ffffff;
  --md-sys-color-secondary-fixed-light: #6f7295;
  --md-sys-color-secondary-fixed-dim-light: #565a7b;
  --md-sys-color-on-secondary-fixed-light: #ffffff;
  --md-sys-color-on-secondary-fixed-variant-light: #ffffff;
  --md-sys-color-tertiary-fixed-light: #786da1;
  --md-sys-color-tertiary-fixed-dim-light: #5f5586;
  --md-sys-color-on-tertiary-fixed-light: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant-light: #ffffff;

  /* dark */
  --md-sys-color-primary-palette-key-color-dark: #0179ff;
  --md-sys-color-secondary-palette-key-color-dark: #727598;
  --md-sys-color-tertiary-palette-key-color-dark: #7b70a3;
  --md-sys-color-neutral-palette-key-color-dark: #737782;
  --md-sys-color-neutral-variant-palette-key-color-dark: #727785;
  --md-sys-color-background-dark: #000000;
  --md-sys-color-on-background-dark: #dfe2ef;
  --md-sys-color-surface-dark: #0f131c;
  --md-sys-color-surface-dim-dark: #0f131c;
  --md-sys-color-surface-bright-dark: #353943;
  --md-sys-color-surface-container-lowest-dark: #0a0e17;
  --md-sys-color-surface-container-low-dark: #181c25;
  --md-sys-color-surface-container-dark: #1c2029;
  --md-sys-color-surface-container-high-dark: #262a33;
  --md-sys-color-surface-container-highest-dark: #31353f;
  --md-sys-color-on-surface-dark: #e6e9f6;
  --md-sys-color-surface-variant-dark: #424753;
  --md-sys-color-on-surface-variant-dark: #c2c6d6;
  --md-sys-color-inverse-surface-dark: #dfe2ef;
  --md-sys-color-inverse-on-surface-dark: #2c303a;
  --md-sys-color-outline-dark: #9297a6;
  --md-sys-color-outline-variant-dark: #686d7b;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-tint-dark: #adc6ff;
  --md-sys-color-primary-dark: #adc6ff;
  --md-sys-color-on-primary-dark: #001f4b;
  --md-sys-color-primary-container-dark: #0069de;
  --md-sys-color-on-primary-container-dark: #ffffff;
  --md-sys-color-inverse-primary-dark: #004ea9;
  --md-sys-color-secondary-dark: #c1c4eb;
  --md-sys-color-on-secondary-dark: #1b1e3c;
  --md-sys-color-secondary-container-dark: #686b8d;
  --md-sys-color-on-secondary-container-dark: #ffffff;
  --md-sys-color-tertiary-dark: #ccbff8;
  --md-sys-color-on-tertiary-dark: #231947;
  --md-sys-color-tertiary-container-dark: #716699;
  --md-sys-color-on-tertiary-container-dark: #ffffff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-dark: #4b0002;
  --md-sys-color-error-container-dark: #d02c27;
  --md-sys-color-on-error-container-dark: #ffffff;
  --md-sys-color-primary-fixed-dark: #d8e2ff;
  --md-sys-color-primary-fixed-dim-dark: #adc6ff;
  --md-sys-color-on-primary-fixed-dark: #001a41;
  --md-sys-color-on-primary-fixed-variant-dark: #003d88;
  --md-sys-color-secondary-fixed-dark: #dfe0ff;
  --md-sys-color-secondary-fixed-dim-dark: #c1c4eb;
  --md-sys-color-on-secondary-fixed-dark: #151937;
  --md-sys-color-on-secondary-fixed-variant-dark: #3a3e5e;
  --md-sys-color-tertiary-fixed-dark: #e7deff;
  --md-sys-color-tertiary-fixed-dim-dark: #ccbff8;
  --md-sys-color-on-tertiary-fixed-dark: #1e1341;
  --md-sys-color-on-tertiary-fixed-variant-dark: #433969;
}

/* load light theme */
:root {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-light-rgb);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-background-rgb: var(--md-sys-color-background-light-rgb);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}

/* override light theme with dark theme */
[data-theme='dark'] {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-primary-rgb: var(--md-sys-color-primary-dark-rgb);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-background-rgb: var(--md-sys-color-background-dark-rgb);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
}